.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-width: 355px;
  margin: 56px 112.5px;

  &--order {
    min-width: auto;
    width: 398px;
    margin: 36px 42px 20px;
  }

  &--profile {
    width: 100%;
    max-width: 355px;
    margin: 0;
  }

  &__title {
    margin: 0 0 57px;
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
    color: #000000;
  }

  &__restore-password {
    align-self: flex-end;
    margin: 13px 0 46px;
    color: #828282;
  }

  &__redirect-btn {
    color: #828282;

    a {
      color: #FDBF5A;
    }
  }
}