.primary-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  padding: 14px 0;
  background-color: #FDBF5A;
  border-radius: 70px;
  border: none;
  font-size: 18px;
  line-height: 20px;
  cursor: pointer;
  
  &--disabled {
    background-color: #ccc;
    cursor: default;
  }
}